__pycache__/
*.py[cod]
.venv/
venv/

paper/*.aux
paper/*.log
paper/*.out
paper/*.toc
paper/*.fls
paper/*.fdb_latexmk
paper/*.synctex.gz

paper/output/*.aux
paper/output/*.log
paper/output/*.out
paper/output/*.toc
paper/output/*.fls
paper/output/*.fdb_latexmk
paper/output/*.synctex.gz
